/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
}

a:hover {
  color: #fff;
}

.wrapper {
  overflow: hidden;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400px;
  background: #FFF;
  margin: 0 20px;
}

.header__button .languages {
  padding: 0 38px 0 178px;
}
.header__button .languages .globe__icon {
  display: block;
  margin: 0 auto;
}
.header__button .languages .language__select {
  border: none;
}
.header__button .enterr__btn {
  color: #FFF;
  padding: 12px 30px;
  border-radius: 15px;
  background: #FF4C34;
}

.tabs {
  border-radius: 15px;
  background: #FF4C34;
  padding: 8px;
}
.tabs .nav {
  border-bottom: none;
  align-items: center;
}
.tabs .nav .nav-item .nav__link {
  color: #1E1E1E;
}
.tabs .nav .nav-item .nav-link {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
}
.tabs .nav .nav-item .nav-link:focus {
  color: #1E1E1E;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  padding: 8px 16px;
  background-color: #FFF;
}
.tabs .nav .nav-item .nav-link:active {
  color: #1E1E1E;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  padding: 8px 16px;
  background-color: #FFF;
}
.tabs .nav .nav-item .nav-link:hover {
  border: 1px solid #FF4C34;
}
.tabs .nav .nav-item .nav-link .tab__select {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  border: none;
  background-color: inherit;
}
.tabs .nav .nav-item .nav-link .select {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #FFF;
  border-radius: 15px;
  padding: 8px 16px;
  background-color: #FF4C34;
  display: inline-block;
  margin-left: 84px;
}
.tabs .nav .nav-item .nav-lin {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  padding: 8px 40px 8px 16px;
  border-radius: 30px;
  border: 2px solid #FFF;
  position: relative;
}
.tabs .nav .nav-item .control {
  position: absolute;
  top: 50%;
  bottom: auto;
  right: 187px;
  left: auto;
  transform: translateY(-50%);
  cursor: pointer;
}

.header {
  padding: 26px 0 0 0;
}
.header__logo-title {
  color: #FF4C34;
  font-family: "Inter";
  font-size: 36px;
  font-weight: 900;
}
.header .header__center .header__center-search .search__box {
  position: relative;
}
.header .header__center .header__center-search .search__box .search__icon {
  position: absolute;
  top: 50%;
  bottom: auto;
  right: auto;
  left: 79px;
  transform: translateY(-50%);
  cursor: pointer;
}
.header .header__center .header__center-search .search__box .search__input {
  padding: 12px 100px 12px 47px;
  border: 2px solid #ff4c34;
  border-radius: 15px;
  margin: 0 40px 0 60px;
}
.header .header__center .header__center-search .search__box .enter__btn {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 13px 13px;
  border-radius: 15px;
  background: #FF4C34;
  position: absolute;
  top: 50%;
  bottom: auto;
  right: 40px;
  left: auto;
  transform: translateY(-50%);
  cursor: pointer;
}
.header .header__center .header__center-search .map__box {
  position: relative;
}
.header .header__center .header__center-search .map__box .map__icon {
  height: 20px;
  position: absolute;
  top: 50%;
  bottom: auto;
  right: auto;
  left: 13px;
  transform: translateY(-50%);
  cursor: pointer;
}
.header .header__center .header__center-search .map__box .map__input {
  padding: 15px 30px 14px 42px;
  border-radius: 15px;
  border: none;
  background: #FF4C34;
}

.action {
  margin: 32px 0 48px 0;
}
.action .title {
  padding-bottom: 24px;
}
.action .box {
  border-radius: 15px;
  position: relative;
}
.action .box .discount {
  padding: 6px;
  border-radius: 15px;
  background: #00AE63;
  flex-wrap: wrap;
}
.action .box .discount .discount__value {
  color: #FFF;
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 600;
  padding-left: 6px;
}

.home__pages {
  margin: 56px 0 64px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
.home__pages .box {
  background: #3472EA;
  border-radius: 15px;
}
.home__pages .box .box__content {
  width: 215px;
}
.home__pages .box .box__content .brand__name {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 16px;
}
.home__pages .box .box__content .price {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  padding: 4px 0 0 0;
}
.home__pages .box .box__content .price .price__extra {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}
.home__pages .box .box__content .food__name {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.home__pages .box .box__content .btn {
  border-radius: 15px;
  background: #FF4C34;
}
.home__pages .box .box__content .btn .button {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
}
.home__pages .three {
  padding-left: 16px;
  background-repeat: no-repeat;
  background-image: url(../images/bg-imgs/coffe__bg-img.png);
  background-position: right;
  z-index: 1;
}
.home__pages .three .box__content .price {
  padding-bottom: 12px;
}
.home__pages .three .box__content .food__name {
  line-height: 143.9%;
}
.home__pages .one {
  background: #AF30C3;
  background-repeat: no-repeat;
  background-image: url(../images/bg-imgs/soop__bg-img.png);
  background-position: left;
  z-index: 1;
  padding-right: 16px;
}
.home__pages .one .box__content {
  margin-left: 10px;
}
.home__pages .one .box__content .food__name {
  padding-top: 36px;
}
.home__pages .two {
  background: #2FAAD1;
  padding-left: 16px;
  background-repeat: no-repeat;
  background-image: url(../images/bg-imgs/lavash__bg-img.png);
  background-position: right;
  z-index: 1;
}
.home__pages .two .price {
  padding-bottom: 12px;
}
.home__pages .two .box__img {
  position: relative;
}
.home__pages .two .box__img .img__one {
  position: absolute;
  top: auto;
  bottom: -115px;
  right: -205px;
  left: auto;
  transform: translateY(-50%);
  cursor: pointer;
}
.home__pages .two .box__img .img__two {
  position: absolute;
  top: auto;
  bottom: -170px;
  right: auto;
  left: auto;
  transform: translateY(-50%);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */