/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

a:hover {
  color: #fff;
}

.wrapper {
  overflow: hidden;
}

body {
  font-family: Montserrat, sans-serif;
  background: #FFF;
  margin: 0 20px;
}

.header {
  padding: 26px 0 0 0;
}
.header__logo-title {
  color: #FF4C34;
  font-family: "Inter";
  font-size: 36px;
  font-weight: 900;
}
.header .header__center .header__center-search .search__box {
  position: relative;
}
.header .header__center .header__center-search .search__box .search__icon {
  position: absolute;
  top: 50%;
  bottom: auto;
  right: auto;
  left: 79px;
  transform: translateY(-50%);
  cursor: pointer;
}
.header .header__center .header__center-search .search__box .search__input {
  padding: 12px 100px 12px 47px;
  border: 2px solid #ff4c34;
  border-radius: 15px;
  margin: 0 40px 0 60px;
}
.header .header__center .header__center-search .search__box .enter__btn {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 13px 13px;
  border-radius: 15px;
  background: #FF4C34;
  position: absolute;
  top: 50%;
  bottom: auto;
  right: 40px;
  left: auto;
  transform: translateY(-50%);
  cursor: pointer;
}
.header .header__center .header__center-search .map__box {
  position: relative;
}
.header .header__center .header__center-search .map__box .map__icon {
  height: 20px;
  position: absolute;
  top: 50%;
  bottom: auto;
  right: auto;
  left: 13px;
  transform: translateY(-50%);
  cursor: pointer;
}
.header .header__center .header__center-search .map__box .map__input {
  padding: 15px 30px 14px 42px;
  border-radius: 15px;
  border: none;
  background: #FF4C34;
}
.header .header__button .languages {
  padding: 0 38px 0 178px;
}
.header .header__button .languages .globe__icon {
  display: block;
  margin: 0 auto;
}
.header .header__button .languages .language__select {
  border: none;
}
.header .header__button .enterr__btn {
  color: #FFF;
  padding: 12px 30px;
  border-radius: 15px;
  background: #FF4C34;
}

.home__pages {
  margin: 56px 0 64px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
.home__pages .box {
  padding: 16px;
  background: #3472EA;
  border-radius: 15px;
  display: flex;
}
.home__pages .box .box__content {
  width: 215px;
}
.home__pages .box .box__content .brand__name {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 143%;
  text-transform: uppercase;
}
.home__pages .box .box__content .price {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 143.9%;
  padding: 4px 0 12px 0;
}
.home__pages .box .box__content .price .price__extra {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 800;
  line-height: 143.9%;
  text-transform: uppercase;
}
.home__pages .box .box__content .food__name {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.home__pages .box .box__content .btn {
  border-radius: 15px;
  background: #FF4C34;
}
.home__pages .box .box__content .btn .button {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
}
.home__pages .one {
  background: #AF30C3;
}
.home__pages .one .box__content .food__name {
  padding-top: 36px;
}
.home__pages .two {
  background: #2FAAD1;
}/*# sourceMappingURL=main.css.map */