@use "../abstracts/variables";
@use"../abstracts/mixins";


.header{

    padding: 26px 0 0 0;

    &__logo-title{
        color: variables.$white-red;
        font-family: "Inter";
        font-size: 36px;
        font-weight: 900;

    }
    
    .header__center{


        .header__center-search{

            .search__box{
                position: relative;

                .search__icon{
                    @include mixins.search-icon($top: 50%, $left: 79px)  
                }
                .search__input{
                    padding: 12px 100px 12px 47px;
                    border: 2px solid #ff4c34;
                    border-radius: 15px;
                    margin: 0 40px 0 60px;
                    
                }
    
                .enter__btn{
                    color: variables.$white;
                    font-family: 'Montserrat';
                    font-size: 14px;
                    font-weight: 400;
                    line-height: normal;
                    padding: 13px 13px;
                    border-radius: 15px;
                    background: variables.$white-red;
                    @include mixins.search-icon($top: 50%, $right: 40px)
                }
            }
            .map__box{
                position: relative;
                
                .map__icon{
                    height: 20px;
                    @include mixins.search-icon($position:absolute, $top: 50%, $left: 13px)
                }
                .map__input{
                    padding: 15px 30px 14px 42px;
                    border-radius: 15px;
                    border: none;
                    background: variables.$white-red;
                }
            }

        }
    }
}
.action{
    margin: 32px 0 48px 0;

    .title{
        padding-bottom: 24px;
    }
    .box{
        border-radius: 15px;
        position: relative;

        .discount{
            padding: 6px;
            border-radius: 15px;
            background: variables.$green;
            flex-wrap: wrap;

            .discount__value{
                color: #FFF;
                font-family: Montserrat;
                font-size: 9px;
                font-weight: 600;
                padding-left: 6px;
            }
        }
    }
}    