@use "../abstracts/variables";
@use "../abstracts/mixins";

.home__pages{

    margin: 56px 0 64px 0;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 20px;

    .box{
        background: variables.$blue;
        border-radius: 15px;

        .box__content{
            width: 215px;

            .brand__name{
                color: variables.$white;
                font-family: "Montserrat";
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                padding-top: 16px;
            }
            .price{
                color: variables.$white;
                font-family: "Montserrat";
                font-size: 14px;
                font-weight: 400;
                padding: 4px 0 0 0;

                .price__extra{
                    color: variables.$white;
                    font-family: "Montserrat";
                    font-size: 24px;
                    font-weight: 800; 
                    text-transform: uppercase;
                }
            }
            .food__name{
                color: variables.$white;
                font-family: "Montserrat";
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                padding-bottom: 8px;
            }
            .btn{
                border-radius: 15px;
                background: variables.$white-red;

                .button{
                    color: variables.$white;
                    font-family: "Montserrat";
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
    .three{
        padding-left: 16px;
        
        background-repeat: no-repeat;
        background-image: url(../images/bg-imgs/coffe__bg-img.png);
        background-position: right;
        z-index: 1;
        .box__content{

            .price{
                padding-bottom: 12px;
            }
            .food__name{
                line-height: 143.9%;
            }
        }
    }
    .one{
        background: variables.$purple;
        background-repeat: no-repeat;
        background-image: url(../images/bg-imgs/soop__bg-img.png);
        background-position: left;
        z-index: 1;
        padding-right: 16px;

        .box__content{
            margin-left: 10px;

            .food__name{
                padding-top: 36px;
            }
        }
    }    
    .two{
        background: variables.$white-blue;
        padding-left: 16px;
        background-repeat: no-repeat;
        background-image: url(../images/bg-imgs/lavash__bg-img.png);
        background-position: right;
        z-index: 1;
        .price{
            padding-bottom: 12px;
        }
        .box__img{
            position: relative;

            .img__one{
                @include mixins.search-icon($position:absolute, $right: -205px, $bottom: -115px)
            }
            .img__two{
                @include mixins.search-icon($position:absolute, $bottom:-170px)
            }
        }
    }

}